%table.table.table-dark
  %thead.thead-dark
    %tr
      %td Host : Guest
      - @tournament.teams_by_division(division_number).each do |host_team| # host teams vertically
        %td= host_team.name
      %td Games %
      %td Wins
  %tbody
    - @tournament.teams_by_division(division_number).each do |guest_team| # guest teams horizontally
      %tr
        %td= guest_team.name
        - 8.times do |opponent_position|
          -# %td= @tournament.game_fill_for_guest_team(team, division_number, opponent_position)
          %td= game_fill_for_guest_team(guest_team, division_number, opponent_position)
        %td teamGamesStub
        %td teamWinsStub